/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    /* font-family: 'Titillium Web', sans-serif; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');

body, p {
	font-family: 'Big Shoulders Text', cursive;
}

/* general styling */
.vertical-margin {
  margin: 20px 0px;
}
.container {
	width: 90%; 
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px auto;
}
@media (min-width: 800px) {
  .container {
    width: 940px;
  }
}

.content-row {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-block {
	box-sizing: border-box;
	flex-direction: column;
}

.inner-box {
	padding: 20px;
}

.half-block {
	width: 100%;
	margin-bottom: 20px;
}
@media(min-width: 800px) {
  .half-block {
    width: 45%;
    margin-bottom: 20px;
  }
}
.one-third-block {
	width: 100%;
	margin-bottom: 20px;
}
@media(min-width: 550px) {
	.one-third-block {
		width: 30%;
	}
}

/* nav stuff */
.nav-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}
@media (min-width: 800px) {
	.nav-container {
		flex-direction: row;
	}
}
.nav {
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
  transform: top 0.2s;
}
@media (min-width: 800px) {
  .nav {
    flex-direction: row;
		flex-grow: 3;
		align-items: center;
  }
}

.nav a {
	margin: 10px 0px;
	padding: 10px 0px;
	width: 95%;
	text-align: center;
	border-bottom: 1px solid darkgrey;
	text-decoration: none; 
  color: darkgrey;
}
@media (min-width: 800px) {
	.nav a {
		width: 10%;
		border-bottom: none;
	}
}

.logo-block {
	order: -1;
	/* text-align: center; */
	margin: 20px 0px;
}
@media(min-width: 800px) {
	.logo-block {
		flex-grow: 1;
		order: 5;
		text-align: right;
		margin-right: 10px;
	}

}



hr { 
	margin: 2px 0px;
	height: 2px;
	color: darkgrey;
	background: darkgrey;
	z-index: 200;
	border: 1px solid darkgrey;
	height: 1px;
	display: block;
}
h2 {
	font-size: 1.7rem;
	font-weight: 700;
}

h3 {
	font-weight: 600;
}
p {
	line-height: 1.45;
}

nav a:hover {
	top: -3px;
	font-size: 1.05rem;
	text-decoration: underline;
}
nav a:active {
	top: .5px;
	left: .2px;
}

.right-align { 
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
}

/* Banner */
section.banner {
	height: 400px;
	display: flex; 
	justify-content: flex-end;
}
.banner div.align-banner {
	width: 92%;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
div.services-banner {
	display: flex;
	flex-flow: column;

	height: 430px;
	justify-content: space-around;
}

.banner .banner-text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 350px; /* unresponsive */
	padding: 35px 0px;
} 
.banner .banner-text h1 {
	font-size: 5rem;
}
.banner .banner-text p {
	box-sizing: border-box;
	font-size: 1.2rem;
	border: 1px solid black;
	width: 50%; /* unresponsive */
	text-align: center;
	/* display: inline-block; */
	margin: 2px;
	padding: 10px;
}

.banner .banner-img {
	right: 0px;
	top: 20px;
	height: 380px;
	width: 380px; 
	margin-left: 50px;
	background-image: url('../img/header-img.png');
}

@media(max-width: 800px) {
  .banner div.align-banner {
    width: 100%;
    justify-content: center;
  }
}
@media(max-width: 800px) {
  .banner .banner-img {
    display: none;
	}
}
/* main section */

.middle-img {
  width: 100%;
}

.services-content-box {
	padding: 10px;
	background-color: lightgrey;
	border: 1px solid black;
}
.learn-button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 20px;
	display: inline-block;
	width: 40%;
	text-align: center;
	background: white;
}


/* .mid-page-accent-image {
	height: 190px;
} */

/* footer */
footer {
	margin-top: 20px;
}
.footer-facts {
	display: flex;
	justify-content: space-between;
}
.footer .footer-facts .content-block ul {
	list-style: square inside;
	margin-top: 10px;
}
.footer .footer-facts .content-block ul li {
	padding: 7px;
}

footer .contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 130px;
}

.footer .footer-img img {
	max-width: 393.75px;
}
footer p.copyright {
	text-align: center;
	margin: 50px 0px;
} 

/* media queries */
